<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260097165111-qmjq818eqjq7ub3o89h0t8hjbrg7f63c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260097165111-qmjq818eqjq7ub3o89h0t8hjbrg7f63c</string>
	<key>API_KEY</key>
	<string>AIzaSyBI-llNirIr8ytGh94sJeXv4-4rpu3YjGw</string>
	<key>GCM_SENDER_ID</key>
	<string>260097165111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorlynch.closebuyv1</string>
	<key>PROJECT_ID</key>
	<string>closebuyv1</string>
	<key>STORAGE_BUCKET</key>
	<string>closebuyv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:260097165111:ios:858ce17523b18a02d63cb2</string>
</dict>
</plist>
